@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");

:root {
  --font-color: #283618;
  --light-color: #e0dede;
  --accent-color: #b6c471;
  --element-color-dark: #bc6c25;
  --element-color-medium: #cf8b4d;
  --element-color-light: #dda15e;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

header {
  height: 70vh;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;
  /* background-blend-mode: multiply; */
  /* filter: grayscale(20%); */
}

#wild-eats-logo {
  height: auto;
  max-width: 30%;
}

#sign-in-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--light-color);
  background-color: #b6c4718e;
  padding: 0px 0px 0px 10px;
  border-radius: 20px;
}
#sign-in-btn:hover {
  cursor: pointer;
}
i,
.fa-circle-user {
  color: var(--accent-color);
  font-size: 32px;
  margin-left: 5px;
}

main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 6%;
}

aside {
  flex-grow: 1;
  width: 50%;
  height: 2000px;
}

section {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 30px;
  align-items: center;
  width: 100%;
}

.top10-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-shadow: 0 0.3rem 0.3rem var(--light-color);
  height: 400px;
  margin-bottom: 30px;
  width: 100%;
}

.top10-img {
  background-image: url("https://media.discordapp.net/attachments/1098254523581075487/1098901457425670154/emy-XoByiBymX20-unsplash.jpg?width=702&height=468");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  width: 46%;
}

.top10-img > h1 {
  color: var(--light-color);
  padding: 0;
  margin: 0;
}

.top10-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px 50px 20px;
  width: 54%;
}
.top10-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40%;
}
.top10-title-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0px;
  margin: 0;
}
.top10-title-wrapper > h2 {
  text-transform: uppercase;
  margin: 0;
}
.top10-filters {
  color: var(--element-color-dark);
}
.top10-filters p {
  margin: 0;
  font-size: 14px;
}
.top10-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}
.top10-description {
  font-size: 16px;
  width: 100%;
  height: 150px;
  text-align: justify;
}
.top10-description span {
  color: var(--element-color-dark)
}
.top10-contacts {
  font-size: 14px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 18fr;
  align-content: end;
}
.top10-contacts p {
  margin: 0;
}

.contact-icon.fa-desktop {
  font-size: 12px;
}
.btn-organisation {
  color: #e0dede;
  border-radius: 20px;
  width: fit-content;
  padding: 4px 9px;
  margin-bottom: 4px;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 500;
}

.take-away {
  background-color: var(--element-color-medium);
}

.on-place {
  background-color: var(--element-color-dark);
}

/* CARD */

.resto-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px 10px 10px;
  height: 250px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 0.3rem 0.3rem var(--light-color);
}
.resto-card-img img {
  border-radius: 20px;
  width: 284px;
  height: 230px;
  object-fit: cover;
}
.resto-card-img {
  /* flex-grow: 1; */
}
.resto-card-info {
  /* flex-grow: 9; */
  padding: 0px 0px 0px 20px;
  width: 760px;
  display: flex;
  flex-direction: column;
}
.resto-card-header {
  display: flex;
  flex-direction: row;
}
.resto-card-main {
  display: flex;
  flex-direction: row;
  height: 130px;
}
.resto-card-title-wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0px;
  margin: 0;
}
.resto-card-title-wrapper > h2 {
  text-transform: uppercase;
  margin: 0;
}
.resto-card-filters {
  color: var(--element-color-dark);
}
.resto-card-filters p {
  margin: 0;
  font-size: 14px;
}
.resto-card-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 30%;
}
.resto-card-description {
  font-size: 16px;
  width:470px;
  height: 150px;
  text-align: justify;
}
.resto-card-description span {
  color: var(--element-color-dark);
}
.resto-card-description p{
  margin:20px 0px 0px 0px;
}

.resto-card-contacts {
  width:270px;
  font-size: 14px;
  display: grid;
  margin: 20px 0px 0px 20px;
  grid-template-columns: 1fr 18fr;
  /* align-content: center; */
  align-content: start;
}
.resto-card-contacts * {
  margin-right: 10px;
}
.resto-card-contacts p {
  margin: 0;

}
.full-star {
  color: var(--element-color-light);
}
.empty-star {
  color: var(--light-color);
}
.contact-icon {
  color: var(--element-color-dark);
  justify-self: center;
  /* vertical-align: bottom; */
}
/* szrgt */

.delivery {
  background-color: var(--element-color-light);
}

button {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 300px;
  margin: 10px;
}

.sur-image {
  position: absolute;
  background-color: gray;
  bottom: 0;
  right: 200 px;
}

.button-div {
  position: absolute;
  bottom: 5px;
  width: 600px;
  right: 145px;
}

.div-card {
  border-radius: 30px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-between;
  box-shadow: 1px 2px 10px gray;
}

.div-wrap-information-deux {
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  width: 54%;
}

.div-information-deux {
  padding: 0;
  width: 100%;
  height: 400px;
}

.wrap-button-deux {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: 100px;
}

.wrap-titre-deux {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 130px;
  padding: 0px;
  margin: 3px;
  padding-bottom: 0px;
}

.pizza-radius {
  width: 95%;
  border-radius: 30px;
  margin: 10px;
}

.wrap-information-deux {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}
